.mi-product {
    height: 100%;
    background: #fff;

    .left,
    .info{
        width: 500px;
        height: 500px;
        float: left;
        margin: 40px 50px;
    }

    .left {
        position: relative;
        width: 400px;
        height: 500px;
        border: 2px solid #b2bec3;

        .swiper-container {
            width: 100%;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-slide {
            background-size: cover !important;
            background-position: center;
            a{
                width: 100%;
                height: 100%;
            }
        }

        .gallery-top {
            height: 80%;
            width: 100%;
        }

        .gallery-thumbs {
            height: 100px;
            box-sizing: border-box;
            padding: 10px 0;
        }

        .gallery-thumbs .swiper-slide {
            width: 20%;
            height: 100%;
            background-size: cover;
            opacity: 0.4;
        }

        .gallery-thumbs .swiper-slide-thumb-active {
            opacity: 1;
        }
    }


    .info {
        border: 2px solid #b2bec3;
        padding: 0px 40px;

        #checkColor {
            border: 2px solid #000000 !important;
        }

        #checkType {
            border: 2px solid #000000 !important;
        }

        p {
            line-height: 40px;

            a {
                width: 100px;
                margin: 20px;
            }
        }
    }

    .right {
        width: 1226px;
        height: 200px;
        margin: 0 auto;
    }
}